<footer>
  <div class="row">
    <div class="columns">
      <!-- <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4"> -->
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <!-- <li>
          <ul>
            <li><a href="/ourwork/">Nosso Trabalho</a></li>
            {% for post in site.projects %}
            {% if post.short_title %}
              {% assign short_title = post.short_title %}
            {% else %}
              {% assign short_title = post.title %}
            {% endif %}
            <li><a href="{{ post.url }}">{{ short_title }}</a></li>
            {% endfor %}
          </ul>
        </li> -->
        <li>
          <ul>
            <li><a href="/blog/">Blog</a></li>
            {% for post in site.posts limit:4 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/aboutus/">Sobre Nós</a></li>
            {% for post in site.aboutus%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <ul>
            <li>Mobilab por Aí</li>
            <li><a href="https://www.facebook.com/smtmobilab">No Facebook</a></li>
            <!-- <li><a href="https://twitter.com/digidem">On Twitter @digidem</a></li> -->
            <!-- <li><a href="mailto:info@digital-democracy.org">Email info@ddem.us</a></li> -->
            <li>Rua Boa Vista, 136, 7o Andar, Fundos<br>
            São Paulo - SP<br>
            <!-- CA 94612<br> -->
            Brasil</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
