.logo {
  line-height: $dd-logo-size - 3px;
  height: $dd-logo-size - 3px;
}
.logo a:before {
  content: "";
  background-image: url("/logo mobilab.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: $dd-blue;
  position: absolute;
  background-color: #fff;
  text-indent: 0;
  top: -15px;
  left: 15px;
  font-weight: bold;
  text-align: center;
  font-famroundily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //width: $dd-logo-size+10;
  //height: $dd-logo-size;
  width: 228px;
  height: 100px;
  border: 4px solid #444;
  font-size: $dd-logo-size / 2;
  margin-top: -4px;
  //padding-top: 12px;
}

.logo a:after {
  //content: "";
  //position: absolute;
  //width: 35px;
  //height: 35px;
  //border: 12px double $dd-grey;
  //top: 4px;
  //left: 53px;
  //clip: rect(0,17.5px,17.5px,0);
  //@include border-radius(17.5px 0 0);
  //@include rotate(25deg);
}
